/* RESETANDO */
*, *::after, *::before {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

/* VARIÁVEIS */
:root {
    --main-bg-color: #11152c;
    --menu-color: #0e164f;
    --font-color-click: #6df772;
    --menu-hover: #6df772;
    --menu-click: #48a54b;
    --sec-list-color: #949494;
    --sec-list-color-hover: #828282;
    --sec-list-color-active: #6b6b6b;
}

/* ESTILIZANDO BACKGROUND E INTERFACE */
.interface {
    min-height: 100vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* GRID */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20vh auto 20vh;
    grid-template-areas:
        "h"
        "m"
        "f";
}



/* ESTILIZANDO OS TÍTULOS */
h1 {
    font-size: 1.7em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    font-size: 1.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 5px;
}


/* FLEXBOX DO CABEÇALHO, CORPO E RODAPÉ */
.semantic-div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}


/* ESTILIZANDO AS LISTAS */
.generic-list {
    list-style: none;
}

.sec-menu {
    display: none;
    flex-flow: column wrap;
    font-size: 1em;
    position: absolute;
    top: 100%;
    border-radius: 5px;
    color: white;
    width: fit-content;

    background-color: var(--sec-list-color);
}
.sec-menu li {
    width: 100%;
}
.sec-menu li:hover {
    border-radius: 5px;
    background-color: var(--sec-list-color-hover);
    cursor: pointer;
}
.sec-menu li:active {
    background-color: var(--sec-list-color-active);
}


.menu-list {
    display: none;
    flex-flow: column wrap;
    font-size: 1em;
    position: relative;

    background: var(--menu-color);
}
.menu-list li {
    padding: 15px;
    cursor: pointer;
}

.menu li.has-sec:focus-within > menu {
    display: block;
    pointer-events: all;
}
.menu li.has-children:focus-within {
    pointer-events: none;
    color: var(--font-color-click);
}

.menu-list li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}
.menu-list li:hover a {
    color: var(--font-color-click);
}


/* CABEÇALHO */
header {
    grid-area: h;
}

/* CORPO */
main {
    grid-area: m;
}

/* FOOTER */
footer {
    grid-area: f;
}


/* ICONE MENU */
#menu-icon {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 4px;
}

#menu-icon-container {
   padding: 5px;
   background-color: var(--menu-color);
}
#menu-icon-container:hover {
    background-color: var(--menu-hover);
    cursor: pointer;
}
#menu-icon-container:active {background-color: var(--menu-click);}

/* DESKTOP QUERIE */
@media only screen and (min-width: 768px) {
    /* ESTILIZANDO OS TÍTULOS */
    h1 {font-size: 3em;}
    h2 {font-size: 1.7em;}

    /* CONFIGURANDO O ÍCONE */
    #menu-icon-container {
        display: none;
    }

    /* CONFIGURANDO O MENU */
    .menu-list {
        display: flex;
        flex-flow: row wrap;
        border-radius: 10px;

        font-size: 1.1em;
    }
}
